* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 320px;
  height: 370px;
  margin: 5% 20% 20% 38%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px;
}

.container input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

.container label {
  margin-top: 10px;
}

.submit {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background: blue;
}

.submit:hover:active {
  background: linear-gradient(45deg rgb(5, 156, 226), rgb(38, 17, 224));
}

.reload {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  font-size: 1rem;

}

.reload:hover:active {
  background: linear-gradient(45deg rgb(5, 156, 226), rgb(38, 17, 224));
}

.container h2 {
  margin-top: 10px;
}